//
// tables.scss
//
th {
    font-weight: $font-weight-semibold;
}

.thead-sm {
    > * > * {
        padding: $table-cell-padding-y-sm $table-cell-padding-x-sm !important;
    }
}

.table-custom {
    tfoot > tr > th:first-child, 
    thead > tr > th:first-child, 
    tr th:first-child, 
    tr td:first-child {
        padding-left: calc($table-cell-padding-y * 1.5) !important;
    }

    tfoot > tr > th:last-child, 
    thead > tr > th:last-child, 
    tr th:last-child, 
    tr td:last-child {
        padding-right: calc($table-cell-padding-y * 1.5) !important;
    }
}

// Tables fluid
.table-nowrap {

    th,
    td {
        white-space: nowrap;
    }
}


// dark mode
[data-bs-theme="dark"] {
    .table-light {
        --#{$prefix}table-color: var(--#{$prefix}body-color);
        --#{$prefix}table-bg: var(--#{$prefix}secondary-bg);
        --#{$prefix}table-border-color: var(--#{$prefix}border-color);
    }

    .table,
    .table-custom {
        --#{$prefix}table-color: var(--#{$prefix}body-color);
        --#{$prefix}table-bg: transparent;
        --#{$prefix}table-border-color: var(--#{$prefix}border-color);

        thead > tr > th,
        thead > tr > td {
            background-color: var(--#{$prefix}tertiary-bg);
            color: var(--#{$prefix}secondary-color);
            border-color: var(--#{$prefix}border-color);
        }

        tbody > tr > td,
        tbody > tr > th {
            color: var(--#{$prefix}body-color);
            border-color: var(--#{$prefix}border-color);
            background-color: transparent;
        }
    }
}