--
-- PostgreSQL database dump
--

\restrict IiEdsQRbyYuaSo7cFLftXYI8vrPWKnR9HXLgLupF8LPdzg4l7FKJaukYrqX0Keg

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.stock_movements DROP CONSTRAINT IF EXISTS fk_stock_movements_product;
ALTER TABLE IF EXISTS ONLY public.stock_movements DROP CONSTRAINT IF EXISTS fk_stock_movements_created_by;
ALTER TABLE IF EXISTS ONLY public.stock_movements DROP CONSTRAINT IF EXISTS fk_stock_movements_branch;
ALTER TABLE IF EXISTS ONLY public.inventory_transfers DROP CONSTRAINT IF EXISTS fk_inventory_transfers_target_product;
ALTER TABLE IF EXISTS ONLY public.inventory_transfers DROP CONSTRAINT IF EXISTS fk_inventory_transfers_target_branch;
ALTER TABLE IF EXISTS ONLY public.inventory_transfers DROP CONSTRAINT IF EXISTS fk_inventory_transfers_source_product;
ALTER TABLE IF EXISTS ONLY public.inventory_transfers DROP CONSTRAINT IF EXISTS fk_inventory_transfers_source_branch;
ALTER TABLE IF EXISTS ONLY public.inventory_transfers DROP CONSTRAINT IF EXISTS fk_inventory_transfers_created_by;
ALTER TABLE IF EXISTS ONLY public.purchase_orders DROP CONSTRAINT IF EXISTS "FK_purchase_orders_laboratory_order_id";
ALTER TABLE IF EXISTS ONLY public.purchase_orders DROP CONSTRAINT IF EXISTS "FK_purchase_orders_company_id";
ALTER TABLE IF EXISTS ONLY public.purchase_orders DROP CONSTRAINT IF EXISTS "FK_purchase_orders_client_id";
ALTER TABLE IF EXISTS ONLY public.purchase_orders DROP CONSTRAINT IF EXISTS "FK_purchase_orders_branch_id";
ALTER TABLE IF EXISTS ONLY public.purchase_order_items DROP CONSTRAINT IF EXISTS "FK_purchase_order_items_purchase_order_id";
ALTER TABLE IF EXISTS ONLY public.product_discount DROP CONSTRAINT IF EXISTS "FK_product_discount_product";
ALTER TABLE IF EXISTS ONLY public.product_discount DROP CONSTRAINT IF EXISTS "FK_product_discount_company";
ALTER TABLE IF EXISTS ONLY public.product_discount DROP CONSTRAINT IF EXISTS "FK_product_discount_branch";
ALTER TABLE IF EXISTS ONLY public.product_audit_log DROP CONSTRAINT IF EXISTS "FK_product_audit_log_product";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "FK_laboratory_orders_client_id";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "FK_fb2a10f94d1ac9600e76b910b0d";
ALTER TABLE IF EXISTS ONLY public.subcategories DROP CONSTRAINT IF EXISTS "FK_f7b015bc580ae5179ba5a4f42ec";
ALTER TABLE IF EXISTS ONLY public.shifts DROP CONSTRAINT IF EXISTS "FK_e155f8dd2a50f91604c8d946369";
ALTER TABLE IF EXISTS ONLY public.shifts DROP CONSTRAINT IF EXISTS "FK_dfcdd9987957c59812b920027e6";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "FK_de720484cb95d8752861e507921";
ALTER TABLE IF EXISTS ONLY public.role_modules DROP CONSTRAINT IF EXISTS "FK_d94c957204d1c78e702a97cc1a9";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "FK_d4131ec6fde82732ee2f3a777cd";
ALTER TABLE IF EXISTS ONLY public.clients DROP CONSTRAINT IF EXISTS "FK_clients_patient_id";
ALTER TABLE IF EXISTS ONLY public.clients DROP CONSTRAINT IF EXISTS "FK_clients_company_id";
ALTER TABLE IF EXISTS ONLY public.clients DROP CONSTRAINT IF EXISTS "FK_clients_branch_id";
ALTER TABLE IF EXISTS ONLY public.client_patients DROP CONSTRAINT IF EXISTS "FK_client_patients_patient_id";
ALTER TABLE IF EXISTS ONLY public.client_patients DROP CONSTRAINT IF EXISTS "FK_client_patients_client_id";
ALTER TABLE IF EXISTS ONLY public.suppliers DROP CONSTRAINT IF EXISTS "FK_ce35fd787e09aecdb311aaff66c";
ALTER TABLE IF EXISTS ONLY public.shifts DROP CONSTRAINT IF EXISTS "FK_cddc0af590dd113d6e5b6b530c8";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "FK_c9de3a8edea9269ca774c919b9a";
ALTER TABLE IF EXISTS ONLY public.patients DROP CONSTRAINT IF EXISTS "FK_c4fc1b1cd80e7c55d359dd78137";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "FK_b417f1726f6ccafb18730adffb0";
ALTER TABLE IF EXISTS ONLY public.clinical_histories DROP CONSTRAINT IF EXISTS "FK_b130332f65c0d02b75e3399b9c8";
ALTER TABLE IF EXISTS ONLY public.clinical_histories DROP CONSTRAINT IF EXISTS "FK_ab8c059582f2e2d67a8af7a8612";
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS "FK_a3dbf2085cb73fb94ddf2106ad4";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "FK_a2cecd1a3531c0b041e29ba46e1";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "FK_a1206f47307aaebf2354974f9f8";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "FK_9a5f6868c96e0069e699f33e124";
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS "FK_987f987126a3f2e4f9ec03db04e";
ALTER TABLE IF EXISTS ONLY public.patients DROP CONSTRAINT IF EXISTS "FK_97d50f26dd5764039a2cbf2c30b";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "FK_83bea396b44568c907b291c3eb3";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "FK_7ae6334059289559722437bcc1c";
ALTER TABLE IF EXISTS ONLY public.permissions DROP CONSTRAINT IF EXISTS "FK_738f46bb9ac6ea356f1915835d0";
ALTER TABLE IF EXISTS ONLY public.suppliers DROP CONSTRAINT IF EXISTS "FK_6a9681499416e80c1ffac4fe86c";
ALTER TABLE IF EXISTS ONLY public.clinical_histories DROP CONSTRAINT IF EXISTS "FK_6a3fafa99b3f9c1e8aa7d5157a1";
ALTER TABLE IF EXISTS ONLY public.subcategories DROP CONSTRAINT IF EXISTS "FK_644a62f955dc1ffc058e16ed838";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "FK_5a58f726a41264c8b3e86d4a1de";
ALTER TABLE IF EXISTS ONLY public.branches DROP CONSTRAINT IF EXISTS "FK_5973f79e64a27c506b07cd84b29";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "FK_4fce6f548e7f997d20ce5f5274f";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "FK_4bccf5d81c7bd9ca9a8b8ea7193";
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS "FK_4bc1204a05dde26383e3955b0a1";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "FK_3f105c75bd8de6544588ec76593";
ALTER TABLE IF EXISTS ONLY public.subcategories DROP CONSTRAINT IF EXISTS "FK_3cd708752bf25e44862ccf4a61d";
ALTER TABLE IF EXISTS ONLY public.shifts DROP CONSTRAINT IF EXISTS "FK_2c6e91d710e159b564af1a2d01b";
ALTER TABLE IF EXISTS ONLY public.clinical_form_configs DROP CONSTRAINT IF EXISTS "FK_2a4d50a7164d3e7b1f7831ed6f7";
ALTER TABLE IF EXISTS ONLY public.clinical_form_configs DROP CONSTRAINT IF EXISTS "FK_29cd30f736e15404c03cb9d4b40";
ALTER TABLE IF EXISTS ONLY public.role_permissions DROP CONSTRAINT IF EXISTS "FK_178199805b901ccd220ab7740ec";
ALTER TABLE IF EXISTS ONLY public.role_permissions DROP CONSTRAINT IF EXISTS "FK_17022daf3f885f7d35423e9971e";
ALTER TABLE IF EXISTS ONLY public.role_modules DROP CONSTRAINT IF EXISTS "FK_037d3081ebb1e33fa2b4204e057";
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS "FK_0011937b9b4cd88d39accdd6edf";
DROP INDEX IF EXISTS public.ux_products_branch_code;
DROP INDEX IF EXISTS public.idx_stock_movements_type;
DROP INDEX IF EXISTS public.idx_stock_movements_reference;
DROP INDEX IF EXISTS public.idx_stock_movements_product;
DROP INDEX IF EXISTS public.idx_stock_movements_created_at;
DROP INDEX IF EXISTS public.idx_stock_movements_company;
DROP INDEX IF EXISTS public.idx_stock_movements_branch;
DROP INDEX IF EXISTS public.idx_inventory_transfers_target_product;
DROP INDEX IF EXISTS public.idx_inventory_transfers_target_branch;
DROP INDEX IF EXISTS public.idx_inventory_transfers_source_product;
DROP INDEX IF EXISTS public.idx_inventory_transfers_source_branch;
DROP INDEX IF EXISTS public.idx_inventory_transfers_created_at;
DROP INDEX IF EXISTS public.idx_inventory_transfers_company;
DROP INDEX IF EXISTS public."UQ_purchase_order_items_purchase_order_id_product_id";
DROP INDEX IF EXISTS public."IDX_whatsapp_sessions_user_id";
DROP INDEX IF EXISTS public."IDX_whatsapp_sessions_status";
DROP INDEX IF EXISTS public."IDX_whatsapp_sessions_company_id";
DROP INDEX IF EXISTS public."IDX_whatsapp_sessions_branch_id";
DROP INDEX IF EXISTS public."IDX_reminder_rules_company_id";
DROP INDEX IF EXISTS public."IDX_reminder_rules_branch_id";
DROP INDEX IF EXISTS public."IDX_purchase_orders_status";
DROP INDEX IF EXISTS public."IDX_purchase_orders_should_invoice";
DROP INDEX IF EXISTS public."IDX_purchase_orders_order_number";
DROP INDEX IF EXISTS public."IDX_purchase_orders_laboratory_order_id";
DROP INDEX IF EXISTS public."IDX_purchase_orders_company_id";
DROP INDEX IF EXISTS public."IDX_purchase_orders_client_id";
DROP INDEX IF EXISTS public."IDX_purchase_order_items_purchase_order_id";
DROP INDEX IF EXISTS public."IDX_purchase_order_items_product_id";
DROP INDEX IF EXISTS public."IDX_product_discount_product_id";
DROP INDEX IF EXISTS public."IDX_product_discount_product_active";
DROP INDEX IF EXISTS public."IDX_product_discount_is_active";
DROP INDEX IF EXISTS public."IDX_product_discount_company_id";
DROP INDEX IF EXISTS public."IDX_product_discount_branch_id";
DROP INDEX IF EXISTS public."IDX_product_discount_branch_active";
DROP INDEX IF EXISTS public."IDX_product_audit_log_product_branch";
DROP INDEX IF EXISTS public."IDX_product_audit_log_event_type";
DROP INDEX IF EXISTS public."IDX_product_audit_log_created_at";
DROP INDEX IF EXISTS public."IDX_patient_contact_preferences_patient_id";
DROP INDEX IF EXISTS public."IDX_patient_contact_preferences_company_id";
DROP INDEX IF EXISTS public."IDX_patient_contact_preferences_branch_id";
DROP INDEX IF EXISTS public."IDX_notification_campaigns_status";
DROP INDEX IF EXISTS public."IDX_notification_campaigns_scheduled_at";
DROP INDEX IF EXISTS public."IDX_notification_campaigns_company_id";
DROP INDEX IF EXISTS public."IDX_notification_campaigns_branch_id";
DROP INDEX IF EXISTS public."IDX_message_dispatch_logs_status";
DROP INDEX IF EXISTS public."IDX_message_dispatch_logs_scheduled_at";
DROP INDEX IF EXISTS public."IDX_message_dispatch_logs_patient_id";
DROP INDEX IF EXISTS public."IDX_message_dispatch_logs_company_id";
DROP INDEX IF EXISTS public."IDX_message_dispatch_logs_branch_id";
DROP INDEX IF EXISTS public."IDX_laboratory_orders_status";
DROP INDEX IF EXISTS public."IDX_laboratory_orders_client_id";
DROP INDEX IF EXISTS public."IDX_feedback_type";
DROP INDEX IF EXISTS public."IDX_feedback_status";
DROP INDEX IF EXISTS public."IDX_feedback_created_by_user_id";
DROP INDEX IF EXISTS public."IDX_feedback_company_id";
DROP INDEX IF EXISTS public."IDX_feedback_company_created";
DROP INDEX IF EXISTS public."IDX_feedback_branch_id";
DROP INDEX IF EXISTS public."IDX_feedback_branch_created";
DROP INDEX IF EXISTS public."IDX_fb2a10f94d1ac9600e76b910b0";
DROP INDEX IF EXISTS public."IDX_f2de6591767f9e27c5f4a17adc";
DROP INDEX IF EXISTS public."IDX_de9fd9baff94123ae2d2591fb3";
DROP INDEX IF EXISTS public."IDX_clients_patient_id";
DROP INDEX IF EXISTS public."IDX_clients_document_number_company_id";
DROP INDEX IF EXISTS public."IDX_clients_company_id";
DROP INDEX IF EXISTS public."IDX_clients_branch_id";
DROP INDEX IF EXISTS public."IDX_client_patients_patient_id";
DROP INDEX IF EXISTS public."IDX_client_patients_client_id";
DROP INDEX IF EXISTS public."IDX_c4fc1b1cd80e7c55d359dd7813";
DROP INDEX IF EXISTS public."IDX_b130332f65c0d02b75e3399b9c";
DROP INDEX IF EXISTS public."IDX_ab8c059582f2e2d67a8af7a861";
DROP INDEX IF EXISTS public."IDX_a42dda88ae3a545b268e70af7a";
DROP INDEX IF EXISTS public."IDX_9dba7bb491daa918b2934e662b";
DROP INDEX IF EXISTS public."IDX_97d50f26dd5764039a2cbf2c30";
DROP INDEX IF EXISTS public."IDX_83bea396b44568c907b291c3eb";
DROP INDEX IF EXISTS public."IDX_6a3fafa99b3f9c1e8aa7d5157a";
DROP INDEX IF EXISTS public."IDX_4bccf5d81c7bd9ca9a8b8ea719";
DROP INDEX IF EXISTS public."IDX_31df4aa83afdccf17a6ec8e4a9";
DROP INDEX IF EXISTS public."IDX_2a4d50a7164d3e7b1f7831ed6f";
DROP INDEX IF EXISTS public."IDX_29cd30f736e15404c03cb9d4b4";
ALTER TABLE IF EXISTS ONLY public.stock_movements DROP CONSTRAINT IF EXISTS stock_movements_pkey;
ALTER TABLE IF EXISTS ONLY public.inventory_transfers DROP CONSTRAINT IF EXISTS inventory_transfers_pkey;
ALTER TABLE IF EXISTS ONLY public.whatsapp_sessions DROP CONSTRAINT IF EXISTS "UQ_whatsapp_sessions_session_key";
ALTER TABLE IF EXISTS ONLY public.whatsapp_sessions DROP CONSTRAINT IF EXISTS "UQ_whatsapp_sessions_company_branch_user";
ALTER TABLE IF EXISTS ONLY public.reminder_rules DROP CONSTRAINT IF EXISTS "UQ_reminder_rules_company_branch";
ALTER TABLE IF EXISTS ONLY public.purchase_orders DROP CONSTRAINT IF EXISTS "UQ_purchase_orders_order_number";
ALTER TABLE IF EXISTS ONLY public.purchase_orders DROP CONSTRAINT IF EXISTS "UQ_purchase_orders_laboratory_order_id";
ALTER TABLE IF EXISTS ONLY public.patient_contact_preferences DROP CONSTRAINT IF EXISTS "UQ_patient_contact_preferences_scope";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "UQ_fe0bb3f6520ee0469504521e710";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "UQ_f2de6591767f9e27c5f4a17adc9";
ALTER TABLE IF EXISTS ONLY public.modules DROP CONSTRAINT IF EXISTS "UQ_e10bfbd4b8f0bdc8f363ab5757d";
ALTER TABLE IF EXISTS ONLY public.branches DROP CONSTRAINT IF EXISTS "UQ_ac9b742f84958b3238d00ec8b3e";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "UQ_97672ac88f789774dd47f7c8be3";
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS "UQ_80af3e6808151c3210b4d5a2185";
ALTER TABLE IF EXISTS ONLY public.patients DROP CONSTRAINT IF EXISTS "UQ_64e2031265399f5690b0beba6a5";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "UQ_5f6c1b67ac12a1e7eb454a48e59";
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS "UQ_3dacbb3eb4f095e29372ff8e131";
ALTER TABLE IF EXISTS ONLY public.shift_status DROP CONSTRAINT IF EXISTS "UQ_0a6c37778b78276d4be6b514c62";
ALTER TABLE IF EXISTS ONLY public.branches DROP CONSTRAINT IF EXISTS "UQ_06583786d73e7325630a0278ff5";
ALTER TABLE IF EXISTS ONLY public.product_discount DROP CONSTRAINT IF EXISTS "UNQ_product_discount_product_branch";
ALTER TABLE IF EXISTS ONLY public.whatsapp_sessions DROP CONSTRAINT IF EXISTS "PK_whatsapp_sessions";
ALTER TABLE IF EXISTS ONLY public.reminder_rules DROP CONSTRAINT IF EXISTS "PK_reminder_rules";
ALTER TABLE IF EXISTS ONLY public.purchase_orders DROP CONSTRAINT IF EXISTS "PK_purchase_orders_id";
ALTER TABLE IF EXISTS ONLY public.purchase_order_items DROP CONSTRAINT IF EXISTS "PK_purchase_order_items";
ALTER TABLE IF EXISTS ONLY public.product_discount DROP CONSTRAINT IF EXISTS "PK_product_discount";
ALTER TABLE IF EXISTS ONLY public.product_audit_log DROP CONSTRAINT IF EXISTS "PK_product_audit_log";
ALTER TABLE IF EXISTS ONLY public.patient_contact_preferences DROP CONSTRAINT IF EXISTS "PK_patient_contact_preferences";
ALTER TABLE IF EXISTS ONLY public.notification_campaigns DROP CONSTRAINT IF EXISTS "PK_notification_campaigns";
ALTER TABLE IF EXISTS ONLY public.message_dispatch_logs DROP CONSTRAINT IF EXISTS "PK_message_dispatch_logs";
ALTER TABLE IF EXISTS ONLY public.feedback DROP CONSTRAINT IF EXISTS "PK_feedback";
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS "PK_d4bc3e82a314fa9e29f652c2c22";
ALTER TABLE IF EXISTS ONLY public.clients DROP CONSTRAINT IF EXISTS "PK_clients_id";
ALTER TABLE IF EXISTS ONLY public.client_patients DROP CONSTRAINT IF EXISTS "PK_client_patients";
ALTER TABLE IF EXISTS ONLY public.clinical_histories DROP CONSTRAINT IF EXISTS "PK_cfb9612b30d2167eee2db3ea3d7";
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS "PK_c1433d71a4838793a49dcad46ab";
ALTER TABLE IF EXISTS ONLY public.suppliers DROP CONSTRAINT IF EXISTS "PK_b70ac51766a9e3144f778cfe81e";
ALTER TABLE IF EXISTS ONLY public.laboratory_orders DROP CONSTRAINT IF EXISTS "PK_af3dc5b9faaf79265b135b62c57";
ALTER TABLE IF EXISTS ONLY public.patients DROP CONSTRAINT IF EXISTS "PK_a7f0b9fcbb3469d5ec0b0aceaa7";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "PK_a3ffb1c0c8416b9fc6f907b7433";
ALTER TABLE IF EXISTS ONLY public.permissions DROP CONSTRAINT IF EXISTS "PK_920331560282b8bd21bb02290df";
ALTER TABLE IF EXISTS ONLY public.migrations DROP CONSTRAINT IF EXISTS "PK_8c82d7f526340ab734260ea46be";
ALTER TABLE IF EXISTS ONLY public.shifts DROP CONSTRAINT IF EXISTS "PK_84d692e367e4d6cdf045828768c";
ALTER TABLE IF EXISTS ONLY public.branches DROP CONSTRAINT IF EXISTS "PK_7f37d3b42defea97f1df0d19535";
ALTER TABLE IF EXISTS ONLY public.modules DROP CONSTRAINT IF EXISTS "PK_7dbefd488bd96c5bf31f0ce0c95";
ALTER TABLE IF EXISTS ONLY public.subcategories DROP CONSTRAINT IF EXISTS "PK_793ef34ad0a3f86f09d4837007c";
ALTER TABLE IF EXISTS ONLY public.files DROP CONSTRAINT IF EXISTS "PK_6c16b9093a142e0e7613b04a3d9";
ALTER TABLE IF EXISTS ONLY public.clinical_form_configs DROP CONSTRAINT IF EXISTS "PK_2b869a35e7a49922535c242ab59";
ALTER TABLE IF EXISTS ONLY public.role_permissions DROP CONSTRAINT IF EXISTS "PK_25d24010f53bb80b78e412c9656";
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS "PK_24dbc6126a28ff948da33e97d3b";
ALTER TABLE IF EXISTS ONLY public.shift_status DROP CONSTRAINT IF EXISTS "PK_120976db1d22acde6cd67406e53";
ALTER TABLE IF EXISTS ONLY public.role_modules DROP CONSTRAINT IF EXISTS "PK_0898417a9cc2d78e322076dc86a";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "PK_0806c755e0aca124e67c0cf6d7d";
ALTER TABLE IF EXISTS public.migrations ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.whatsapp_sessions;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.suppliers;
DROP TABLE IF EXISTS public.subcategories;
DROP TABLE IF EXISTS public.stock_movements;
DROP TABLE IF EXISTS public.shifts;
DROP TABLE IF EXISTS public.shift_status;
DROP TABLE IF EXISTS public.roles;
DROP TABLE IF EXISTS public.role_permissions;
DROP TABLE IF EXISTS public.role_modules;
DROP TABLE IF EXISTS public.reminder_rules;
DROP TABLE IF EXISTS public.purchase_orders;
DROP TABLE IF EXISTS public.purchase_order_items;
DROP TABLE IF EXISTS public.products;
DROP TABLE IF EXISTS public.product_discount;
DROP TABLE IF EXISTS public.product_audit_log;
DROP TABLE IF EXISTS public.permissions;
DROP TABLE IF EXISTS public.patients;
DROP TABLE IF EXISTS public.patient_contact_preferences;
DROP TABLE IF EXISTS public.notification_campaigns;
DROP TABLE IF EXISTS public.modules;
DROP SEQUENCE IF EXISTS public.migrations_id_seq;
DROP TABLE IF EXISTS public.migrations;
DROP TABLE IF EXISTS public.message_dispatch_logs;
DROP TABLE IF EXISTS public.laboratory_orders;
DROP TABLE IF EXISTS public.inventory_transfers;
DROP TABLE IF EXISTS public.files;
DROP TABLE IF EXISTS public.feedback;
DROP TABLE IF EXISTS public.companies;
DROP TABLE IF EXISTS public.clinical_histories;
DROP TABLE IF EXISTS public.clinical_form_configs;
DROP TABLE IF EXISTS public.clients;
DROP TABLE IF EXISTS public.client_patients;
DROP TABLE IF EXISTS public.categories;
DROP TABLE IF EXISTS public.branches;
DROP TYPE IF EXISTS public.laboratory_orders_frame_type_enum;
DROP EXTENSION IF EXISTS "uuid-ossp";
--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: laboratory_orders_frame_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.laboratory_orders_frame_type_enum AS ENUM (
    '3_piezas_al_aire',
    'ranurado_semiaire',
    'completo'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: branches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.branches (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    code character varying NOT NULL,
    address character varying NOT NULL,
    city character varying NOT NULL,
    phone character varying,
    corporate_email character varying,
    opening_hours text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    company_id uuid
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    branch_id uuid NOT NULL,
    name character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    description character varying,
    company_id uuid
);


--
-- Name: client_patients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.client_patients (
    client_id uuid NOT NULL,
    patient_id uuid NOT NULL
);


--
-- Name: clients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clients (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email character varying NOT NULL,
    document_number character varying NOT NULL,
    patient_id uuid,
    company_id uuid,
    branch_id uuid,
    mobile_phone character varying,
    home_phone character varying,
    address text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: clinical_form_configs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clinical_form_configs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    branch_id uuid NOT NULL,
    config_name character varying NOT NULL,
    "fieldsConfig" jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    company_id uuid
);


--
-- Name: clinical_histories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clinical_histories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    branch_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    professional_name character varying,
    is_sent boolean DEFAULT false NOT NULL,
    last_visual_exam_date timestamp without time zone,
    vision_problems text,
    general_health text,
    other_health_problems text,
    segment_anterior character varying,
    previous_rx_od character varying,
    previous_add_od character varying,
    previous_rx_oi character varying,
    previous_add_oi character varying,
    visual_acuity_od_vl character varying,
    visual_acuity_od_vp character varying,
    visual_acuity_oi_vl character varying,
    visual_acuity_oi_vp character varying,
    "motorTest" jsonb,
    final_rx_od_sphere character varying,
    final_rx_od_cylinder character varying,
    final_rx_od_axis character varying,
    final_rx_od_add character varying,
    final_rx_oi_sphere character varying,
    final_rx_oi_cylinder character varying,
    final_rx_oi_axis character varying,
    final_rx_oi_add character varying,
    corrected_av_od_vl character varying,
    corrected_av_od_vp character varying,
    corrected_av_oi_vl character varying,
    corrected_av_oi_vp character varying,
    "lensTypes" jsonb,
    "pupillaryReflexes" jsonb,
    ophthalmoscopy_od text,
    ophthalmoscopy_oi text,
    "refractiveTests" jsonb,
    stereopsis character varying,
    worth_test character varying,
    other_notes text,
    diagnosis text,
    disposition text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    occupation character varying,
    first_time boolean DEFAULT false NOT NULL,
    segment_anterior_other character varying,
    "additionalTreatments" jsonb,
    company_id uuid,
    previous_od_vl character varying,
    previous_od_vp character varying,
    previous_oi_vl character varying,
    previous_oi_vp character varying,
    previous_ao character varying
);


--
-- Name: companies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.companies (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    code character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    logo_file_id uuid,
    email character varying,
    phone character varying,
    slug character varying,
    max_users integer,
    max_branches integer
);


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.feedback (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    branch_id uuid,
    created_by_user_id uuid NOT NULL,
    type character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'nuevo'::character varying NOT NULL,
    title character varying(180) NOT NULL,
    description text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT "CHK_feedback_status" CHECK (((status)::text = ANY ((ARRAY['nuevo'::character varying, 'en_revision'::character varying, 'resuelto'::character varying])::text[]))),
    CONSTRAINT "CHK_feedback_type" CHECK (((type)::text = ANY ((ARRAY['suggestion'::character varying, 'report'::character varying])::text[])))
);


--
-- Name: files; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.files (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    filename character varying NOT NULL,
    original_name character varying NOT NULL,
    path character varying NOT NULL,
    size integer NOT NULL,
    mime_type character varying NOT NULL,
    entity_type character varying NOT NULL,
    entity_id character varying NOT NULL,
    file_category character varying,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    is_cover boolean DEFAULT false NOT NULL
);


--
-- Name: inventory_transfers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_transfers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    source_branch_id uuid NOT NULL,
    target_branch_id uuid NOT NULL,
    source_product_id uuid NOT NULL,
    target_product_id uuid NOT NULL,
    source_code character varying(50) NOT NULL,
    quantity integer NOT NULL,
    note text,
    created_by_user_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_inventory_transfers_branchs_diff CHECK ((source_branch_id <> target_branch_id)),
    CONSTRAINT chk_inventory_transfers_quantity_positive CHECK ((quantity > 0))
);


--
-- Name: laboratory_orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.laboratory_orders (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    branch_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    clinical_history_id uuid,
    attendance_date date,
    delivery_date date,
    od_sphere character varying,
    od_cylinder character varying,
    od_axis character varying,
    od_add character varying,
    od_height character varying,
    od_dnp character varying,
    oi_sphere character varying,
    oi_cylinder character varying,
    oi_axis character varying,
    oi_add character varying,
    oi_height character varying,
    oi_dnp character varying,
    d_vertex character varying,
    pantos character varying,
    panora character varying,
    frame_fit character varying,
    profile character varying,
    mid character varying,
    dist_vp character varying,
    engraving character varying,
    product_id uuid,
    frame_type public.laboratory_orders_frame_type_enum,
    frame_type_description character varying,
    frame_brand character varying,
    frame_model character varying,
    frame_data character varying,
    frame_larger_diameter character varying,
    frame_horizontal character varying,
    frame_vertical character varying,
    frame_bridge character varying,
    observations text,
    is_confirmed boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    order_number integer,
    cbase character varying,
    sun_degree character varying,
    prism character varying,
    base character varying,
    company_id uuid,
    product_ids uuid[],
    product_quantities jsonb,
    status character varying(20) DEFAULT 'pending'::character varying,
    client_id uuid
);


--
-- Name: message_dispatch_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.message_dispatch_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    branch_id uuid,
    patient_id uuid NOT NULL,
    campaign_id uuid,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    channel character varying(24) NOT NULL,
    phone character varying(30) NOT NULL,
    message text NOT NULL,
    scheduled_at timestamp without time zone,
    sent_at timestamp without time zone,
    provider_message_id character varying,
    error_reason text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: modules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.modules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    module_name character varying NOT NULL,
    description character varying,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: notification_campaigns; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notification_campaigns (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    branch_id uuid,
    name character varying(120) NOT NULL,
    type character varying(20) DEFAULT 'reminder'::character varying NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    message_template text NOT NULL,
    scheduled_at timestamp without time zone,
    processed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: patient_contact_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.patient_contact_preferences (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    branch_id uuid,
    patient_id uuid NOT NULL,
    preferred_phone character varying,
    whatsapp_opt_in boolean DEFAULT false NOT NULL,
    promotions_opt_in boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: patients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.patients (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email character varying NOT NULL,
    document_number character varying NOT NULL,
    company_id uuid,
    branch_id uuid,
    date_of_birth timestamp without time zone,
    address character varying,
    home_phone character varying,
    mobile_phone character varying,
    profile_photo character varying,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    permission_name character varying NOT NULL,
    description character varying,
    is_active boolean DEFAULT true NOT NULL,
    module_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: product_audit_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_audit_log (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    branch_id uuid NOT NULL,
    product_id uuid NOT NULL,
    event_type character varying(30) NOT NULL,
    changed_fields jsonb,
    metadata jsonb,
    created_by_user_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: product_discount; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_discount (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    product_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    company_id uuid NOT NULL,
    discount_type character varying(20) NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    start_date timestamp without time zone,
    end_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT "CHK_discount_type" CHECK (((discount_type)::text = ANY ((ARRAY['PERCENTAGE'::character varying, 'FIXED_AMOUNT'::character varying])::text[])))
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    branch_id uuid NOT NULL,
    code character varying NOT NULL,
    name character varying NOT NULL,
    category_id uuid NOT NULL,
    subcategory_id uuid NOT NULL,
    brand character varying NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    default_supplier_id uuid,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    description text,
    created_by_user_id uuid,
    views integer DEFAULT 0 NOT NULL,
    company_id uuid
);


--
-- Name: purchase_order_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_order_items (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    purchase_order_id uuid NOT NULL,
    product_id uuid NOT NULL,
    product_code character varying NOT NULL,
    product_name character varying NOT NULL,
    product_brand character varying,
    quantity integer NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    line_total numeric(12,2) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_orders (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    order_number integer,
    client_id uuid NOT NULL,
    laboratory_order_id uuid NOT NULL,
    company_id uuid,
    branch_id uuid,
    should_invoice boolean DEFAULT false NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    total_amount numeric(12,2),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: reminder_rules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reminder_rules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    branch_id uuid,
    is_active boolean DEFAULT true NOT NULL,
    appointment_reminder_hours_before integer DEFAULT 24 NOT NULL,
    renewal_after_days integer DEFAULT 365 NOT NULL,
    renewal_notify_before_days integer DEFAULT 15 NOT NULL,
    quiet_hours_start character varying DEFAULT '21:00'::character varying NOT NULL,
    quiet_hours_end character varying DEFAULT '08:00'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: role_modules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.role_modules (
    role_id uuid NOT NULL,
    module_id uuid NOT NULL,
    is_enabled boolean DEFAULT true NOT NULL
);


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL,
    is_enabled boolean DEFAULT true NOT NULL
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    role_name character varying NOT NULL,
    description character varying,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    company_id uuid
);


--
-- Name: shift_status; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.shift_status (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    description character varying,
    color character varying,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: shifts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.shifts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    patient_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    status_id uuid NOT NULL,
    appointment_date timestamp without time zone NOT NULL,
    description text NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    company_id uuid
);


--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stock_movements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    branch_id uuid NOT NULL,
    product_id uuid NOT NULL,
    movement_type character varying(50) NOT NULL,
    quantity integer NOT NULL,
    balance_after integer NOT NULL,
    reference_type character varying(50),
    reference_id uuid,
    note text,
    created_by_user_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_stock_movements_quantity_positive CHECK ((quantity > 0))
);


--
-- Name: subcategories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subcategories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    branch_id uuid NOT NULL,
    category_id uuid NOT NULL,
    name character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    description character varying,
    company_id uuid
);


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.suppliers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    branch_id uuid NOT NULL,
    name character varying NOT NULL,
    document_number character varying,
    phone character varying,
    email character varying,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    company_id uuid,
    website character varying(255),
    address character varying(255),
    notes text
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying NOT NULL,
    email character varying NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    password_hash character varying NOT NULL,
    role_id uuid NOT NULL,
    profile_photo character varying,
    address character varying,
    document_number character varying,
    date_of_birth timestamp without time zone,
    home_phone character varying,
    mobile_phone character varying,
    is_active boolean DEFAULT true NOT NULL,
    is_locked boolean DEFAULT false NOT NULL,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    last_login_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    reset_token character varying,
    reset_token_expiry timestamp without time zone,
    branch_id uuid,
    company_id uuid
);


--
-- Name: whatsapp_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.whatsapp_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    branch_id uuid,
    user_id uuid,
    session_key character varying NOT NULL,
    status character varying(20) DEFAULT 'disconnected'::character varying NOT NULL,
    qr_code text,
    connected_phone character varying,
    last_connected_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: client_patients; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.client_patients (client_id, patient_id) FROM stdin;
bbb5d743-4c43-4541-9796-0b7b0cd1152c	0a6c271b-ce68-434e-87c2-59fb10e59edb
343770d0-ecfe-4d8e-93f9-d77b2e187f3f	0a6c271b-ce68-434e-87c2-59fb10e59edb
e325341b-b990-4870-a0a5-de193e4075f1	32f5a2a3-5758-4fb6-b4b6-ec55414942e7
915c3f9d-b7b4-4be1-804f-818d4fff60ff	0a6c271b-ce68-434e-87c2-59fb10e59edb
c74d74c4-05a1-4dc8-bf73-e6a5e9fa9d2a	32f5a2a3-5758-4fb6-b4b6-ec55414942e7
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: clinical_form_configs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: clinical_histories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.companies (id, name, code, is_active, created_at, updated_at, logo_file_id, email, phone, slug, max_users, max_branches) FROM stdin;
ff3f49aa-6a6f-4634-ba63-823f84d23d31	Sorti	1231231230	t	2025-11-11 17:08:19.816412	2026-03-31 16:16:50.004675	353d3b8e-7a00-49f4-8118-dafdcf1b761d	sorti@gmail.com	1231231230	sorti	\N	3
\.


--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: inventory_transfers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: laboratory_orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: message_dispatch_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notification_campaigns; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notification_campaigns (id, company_id, branch_id, name, type, status, message_template, scheduled_at, processed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: patient_contact_preferences; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.patient_contact_preferences (id, company_id, branch_id, patient_id, preferred_phone, whatsapp_opt_in, promotions_opt_in, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_audit_log; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_discount; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: purchase_order_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: reminder_rules; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.reminder_rules (id, company_id, branch_id, is_active, appointment_reminder_hours_before, renewal_after_days, renewal_notify_before_days, quiet_hours_start, quiet_hours_end, created_at, updated_at) FROM stdin;
daccbdb3-b157-41a2-bc7b-be65273df5d9	ff3f49aa-6a6f-4634-ba63-823f84d23d31	d67dcc35-dd4a-4355-9d08-da3a19796932	t	24	365	5	21:00	08:00	2026-03-17 12:21:41.467787	2026-03-24 11:20:42.016187
\.


--
-- Data for Name: role_modules; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.role_modules (role_id, module_id, is_enabled) FROM stdin;
a91698f8-d6d4-462e-80b0-a2fa0517e64f	c828ad37-33c9-4949-b99a-f8b8ff21a085	t
a91698f8-d6d4-462e-80b0-a2fa0517e64f	248bccd0-7d98-4e46-80df-11d8d22102eb	t
a91698f8-d6d4-462e-80b0-a2fa0517e64f	607b9108-9dfd-45a8-b75a-22c6974d7fd4	t
a91698f8-d6d4-462e-80b0-a2fa0517e64f	bdf9c4f6-e607-4bce-9f88-490ef5b65d36	t
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.roles (id, role_name, description, is_active, created_at, updated_at, company_id) FROM stdin;
a91698f8-d6d4-462e-80b0-a2fa0517e64f	SUPER_ADMIN	Super administrador del sistema con acceso a todas las empresas	t	2025-11-06 16:29:02.059965	2025-11-06 16:29:02.059965	\N
3cfb3f3f-42ed-479a-a9e8-0158473d3cdd	Admin-Sorti	es adminn	t	2025-11-11 17:08:29.998574	2025-11-18 12:14:04.98807	ff3f49aa-6a6f-4634-ba63-823f84d23d31
96e90d8b-3de8-4df2-a398-c7baed5b9a13	Ayudante	test	t	2026-03-31 16:38:45.732243	2026-03-31 16:38:45.732243	ff3f49aa-6a6f-4634-ba63-823f84d23d31
\.


--
-- Data for Name: shift_status; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: shifts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: subcategories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: whatsapp_sessions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.migrations_id_seq', 27, true);


--
-- Name: products PK_0806c755e0aca124e67c0cf6d7d; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "PK_0806c755e0aca124e67c0cf6d7d" PRIMARY KEY (id);


--
-- Name: role_modules PK_0898417a9cc2d78e322076dc86a; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_modules
    ADD CONSTRAINT "PK_0898417a9cc2d78e322076dc86a" PRIMARY KEY (role_id, module_id);


--
-- Name: shift_status PK_120976db1d22acde6cd67406e53; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shift_status
    ADD CONSTRAINT "PK_120976db1d22acde6cd67406e53" PRIMARY KEY (id);


--
-- Name: categories PK_24dbc6126a28ff948da33e97d3b; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "PK_24dbc6126a28ff948da33e97d3b" PRIMARY KEY (id);


--
-- Name: role_permissions PK_25d24010f53bb80b78e412c9656; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "PK_25d24010f53bb80b78e412c9656" PRIMARY KEY (role_id, permission_id);


--
-- Name: clinical_form_configs PK_2b869a35e7a49922535c242ab59; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clinical_form_configs
    ADD CONSTRAINT "PK_2b869a35e7a49922535c242ab59" PRIMARY KEY (id);


--
-- Name: files PK_6c16b9093a142e0e7613b04a3d9; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT "PK_6c16b9093a142e0e7613b04a3d9" PRIMARY KEY (id);


--
-- Name: subcategories PK_793ef34ad0a3f86f09d4837007c; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT "PK_793ef34ad0a3f86f09d4837007c" PRIMARY KEY (id);


--
-- Name: modules PK_7dbefd488bd96c5bf31f0ce0c95; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "PK_7dbefd488bd96c5bf31f0ce0c95" PRIMARY KEY (id);


--
-- Name: branches PK_7f37d3b42defea97f1df0d19535; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT "PK_7f37d3b42defea97f1df0d19535" PRIMARY KEY (id);


--
-- Name: shifts PK_84d692e367e4d6cdf045828768c; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "PK_84d692e367e4d6cdf045828768c" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: permissions PK_920331560282b8bd21bb02290df; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "PK_920331560282b8bd21bb02290df" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: patients PK_a7f0b9fcbb3469d5ec0b0aceaa7; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT "PK_a7f0b9fcbb3469d5ec0b0aceaa7" PRIMARY KEY (id);


--
-- Name: laboratory_orders PK_af3dc5b9faaf79265b135b62c57; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "PK_af3dc5b9faaf79265b135b62c57" PRIMARY KEY (id);


--
-- Name: suppliers PK_b70ac51766a9e3144f778cfe81e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT "PK_b70ac51766a9e3144f778cfe81e" PRIMARY KEY (id);


--
-- Name: roles PK_c1433d71a4838793a49dcad46ab; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_c1433d71a4838793a49dcad46ab" PRIMARY KEY (id);


--
-- Name: clinical_histories PK_cfb9612b30d2167eee2db3ea3d7; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clinical_histories
    ADD CONSTRAINT "PK_cfb9612b30d2167eee2db3ea3d7" PRIMARY KEY (id);


--
-- Name: client_patients PK_client_patients; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.client_patients
    ADD CONSTRAINT "PK_client_patients" PRIMARY KEY (client_id, patient_id);


--
-- Name: clients PK_clients_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT "PK_clients_id" PRIMARY KEY (id);


--
-- Name: companies PK_d4bc3e82a314fa9e29f652c2c22; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT "PK_d4bc3e82a314fa9e29f652c2c22" PRIMARY KEY (id);


--
-- Name: feedback PK_feedback; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT "PK_feedback" PRIMARY KEY (id);


--
-- Name: message_dispatch_logs PK_message_dispatch_logs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message_dispatch_logs
    ADD CONSTRAINT "PK_message_dispatch_logs" PRIMARY KEY (id);


--
-- Name: notification_campaigns PK_notification_campaigns; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notification_campaigns
    ADD CONSTRAINT "PK_notification_campaigns" PRIMARY KEY (id);


--
-- Name: patient_contact_preferences PK_patient_contact_preferences; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patient_contact_preferences
    ADD CONSTRAINT "PK_patient_contact_preferences" PRIMARY KEY (id);


--
-- Name: product_audit_log PK_product_audit_log; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_audit_log
    ADD CONSTRAINT "PK_product_audit_log" PRIMARY KEY (id);


--
-- Name: product_discount PK_product_discount; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_discount
    ADD CONSTRAINT "PK_product_discount" PRIMARY KEY (id);


--
-- Name: purchase_order_items PK_purchase_order_items; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT "PK_purchase_order_items" PRIMARY KEY (id);


--
-- Name: purchase_orders PK_purchase_orders_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT "PK_purchase_orders_id" PRIMARY KEY (id);


--
-- Name: reminder_rules PK_reminder_rules; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reminder_rules
    ADD CONSTRAINT "PK_reminder_rules" PRIMARY KEY (id);


--
-- Name: whatsapp_sessions PK_whatsapp_sessions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.whatsapp_sessions
    ADD CONSTRAINT "PK_whatsapp_sessions" PRIMARY KEY (id);


--
-- Name: product_discount UNQ_product_discount_product_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_discount
    ADD CONSTRAINT "UNQ_product_discount_product_branch" UNIQUE (product_id, branch_id);


--
-- Name: branches UQ_06583786d73e7325630a0278ff5; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT "UQ_06583786d73e7325630a0278ff5" UNIQUE (code, company_id);


--
-- Name: shift_status UQ_0a6c37778b78276d4be6b514c62; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shift_status
    ADD CONSTRAINT "UQ_0a6c37778b78276d4be6b514c62" UNIQUE (name);


--
-- Name: companies UQ_3dacbb3eb4f095e29372ff8e131; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT "UQ_3dacbb3eb4f095e29372ff8e131" UNIQUE (name);


--
-- Name: users UQ_5f6c1b67ac12a1e7eb454a48e59; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_5f6c1b67ac12a1e7eb454a48e59" UNIQUE (document_number);


--
-- Name: patients UQ_64e2031265399f5690b0beba6a5; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT "UQ_64e2031265399f5690b0beba6a5" UNIQUE (email);


--
-- Name: companies UQ_80af3e6808151c3210b4d5a2185; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT "UQ_80af3e6808151c3210b4d5a2185" UNIQUE (code);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: branches UQ_ac9b742f84958b3238d00ec8b3e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT "UQ_ac9b742f84958b3238d00ec8b3e" UNIQUE (name, company_id);


--
-- Name: modules UQ_e10bfbd4b8f0bdc8f363ab5757d; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "UQ_e10bfbd4b8f0bdc8f363ab5757d" UNIQUE (module_name);


--
-- Name: laboratory_orders UQ_f2de6591767f9e27c5f4a17adc9; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "UQ_f2de6591767f9e27c5f4a17adc9" UNIQUE (order_number);


--
-- Name: users UQ_fe0bb3f6520ee0469504521e710; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_fe0bb3f6520ee0469504521e710" UNIQUE (username);


--
-- Name: patient_contact_preferences UQ_patient_contact_preferences_scope; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patient_contact_preferences
    ADD CONSTRAINT "UQ_patient_contact_preferences_scope" UNIQUE (company_id, branch_id, patient_id);


--
-- Name: purchase_orders UQ_purchase_orders_laboratory_order_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT "UQ_purchase_orders_laboratory_order_id" UNIQUE (laboratory_order_id);


--
-- Name: purchase_orders UQ_purchase_orders_order_number; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT "UQ_purchase_orders_order_number" UNIQUE (order_number);


--
-- Name: reminder_rules UQ_reminder_rules_company_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reminder_rules
    ADD CONSTRAINT "UQ_reminder_rules_company_branch" UNIQUE (company_id, branch_id);


--
-- Name: whatsapp_sessions UQ_whatsapp_sessions_company_branch_user; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.whatsapp_sessions
    ADD CONSTRAINT "UQ_whatsapp_sessions_company_branch_user" UNIQUE (company_id, branch_id, user_id);


--
-- Name: whatsapp_sessions UQ_whatsapp_sessions_session_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.whatsapp_sessions
    ADD CONSTRAINT "UQ_whatsapp_sessions_session_key" UNIQUE (session_key);


--
-- Name: inventory_transfers inventory_transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_transfers
    ADD CONSTRAINT inventory_transfers_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: IDX_29cd30f736e15404c03cb9d4b4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_29cd30f736e15404c03cb9d4b4" ON public.clinical_form_configs USING btree (branch_id);


--
-- Name: IDX_2a4d50a7164d3e7b1f7831ed6f; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_2a4d50a7164d3e7b1f7831ed6f" ON public.clinical_form_configs USING btree (company_id);


--
-- Name: IDX_31df4aa83afdccf17a6ec8e4a9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_31df4aa83afdccf17a6ec8e4a9" ON public.laboratory_orders USING btree (attendance_date);


--
-- Name: IDX_4bccf5d81c7bd9ca9a8b8ea719; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_4bccf5d81c7bd9ca9a8b8ea719" ON public.laboratory_orders USING btree (company_id);


--
-- Name: IDX_6a3fafa99b3f9c1e8aa7d5157a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_6a3fafa99b3f9c1e8aa7d5157a" ON public.clinical_histories USING btree (company_id);


--
-- Name: IDX_83bea396b44568c907b291c3eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_83bea396b44568c907b291c3eb" ON public.laboratory_orders USING btree (branch_id);


--
-- Name: IDX_97d50f26dd5764039a2cbf2c30; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_97d50f26dd5764039a2cbf2c30" ON public.patients USING btree (company_id);


--
-- Name: IDX_9dba7bb491daa918b2934e662b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_9dba7bb491daa918b2934e662b" ON public.clinical_histories USING btree (branch_id, is_sent);


--
-- Name: IDX_a42dda88ae3a545b268e70af7a; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IDX_a42dda88ae3a545b268e70af7a" ON public.patients USING btree (document_number, company_id);


--
-- Name: IDX_ab8c059582f2e2d67a8af7a861; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_ab8c059582f2e2d67a8af7a861" ON public.clinical_histories USING btree (branch_id);


--
-- Name: IDX_b130332f65c0d02b75e3399b9c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_b130332f65c0d02b75e3399b9c" ON public.clinical_histories USING btree (patient_id);


--
-- Name: IDX_c4fc1b1cd80e7c55d359dd7813; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_c4fc1b1cd80e7c55d359dd7813" ON public.patients USING btree (branch_id);


--
-- Name: IDX_client_patients_client_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_client_patients_client_id" ON public.client_patients USING btree (client_id);


--
-- Name: IDX_client_patients_patient_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_client_patients_patient_id" ON public.client_patients USING btree (patient_id);


--
-- Name: IDX_clients_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_clients_branch_id" ON public.clients USING btree (branch_id);


--
-- Name: IDX_clients_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_clients_company_id" ON public.clients USING btree (company_id);


--
-- Name: IDX_clients_document_number_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_clients_document_number_company_id" ON public.clients USING btree (document_number, company_id);


--
-- Name: IDX_clients_patient_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_clients_patient_id" ON public.clients USING btree (patient_id);


--
-- Name: IDX_de9fd9baff94123ae2d2591fb3; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_de9fd9baff94123ae2d2591fb3" ON public.laboratory_orders USING btree (is_confirmed);


--
-- Name: IDX_f2de6591767f9e27c5f4a17adc; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IDX_f2de6591767f9e27c5f4a17adc" ON public.laboratory_orders USING btree (order_number);


--
-- Name: IDX_fb2a10f94d1ac9600e76b910b0; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_fb2a10f94d1ac9600e76b910b0" ON public.laboratory_orders USING btree (patient_id);


--
-- Name: IDX_feedback_branch_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_feedback_branch_created" ON public.feedback USING btree (branch_id, created_at);


--
-- Name: IDX_feedback_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_feedback_branch_id" ON public.feedback USING btree (branch_id);


--
-- Name: IDX_feedback_company_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_feedback_company_created" ON public.feedback USING btree (company_id, created_at);


--
-- Name: IDX_feedback_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_feedback_company_id" ON public.feedback USING btree (company_id);


--
-- Name: IDX_feedback_created_by_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_feedback_created_by_user_id" ON public.feedback USING btree (created_by_user_id);


--
-- Name: IDX_feedback_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_feedback_status" ON public.feedback USING btree (status);


--
-- Name: IDX_feedback_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_feedback_type" ON public.feedback USING btree (type);


--
-- Name: IDX_laboratory_orders_client_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_laboratory_orders_client_id" ON public.laboratory_orders USING btree (client_id);


--
-- Name: IDX_laboratory_orders_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_laboratory_orders_status" ON public.laboratory_orders USING btree (status);


--
-- Name: IDX_message_dispatch_logs_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_message_dispatch_logs_branch_id" ON public.message_dispatch_logs USING btree (branch_id);


--
-- Name: IDX_message_dispatch_logs_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_message_dispatch_logs_company_id" ON public.message_dispatch_logs USING btree (company_id);


--
-- Name: IDX_message_dispatch_logs_patient_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_message_dispatch_logs_patient_id" ON public.message_dispatch_logs USING btree (patient_id);


--
-- Name: IDX_message_dispatch_logs_scheduled_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_message_dispatch_logs_scheduled_at" ON public.message_dispatch_logs USING btree (scheduled_at);


--
-- Name: IDX_message_dispatch_logs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_message_dispatch_logs_status" ON public.message_dispatch_logs USING btree (status);


--
-- Name: IDX_notification_campaigns_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_notification_campaigns_branch_id" ON public.notification_campaigns USING btree (branch_id);


--
-- Name: IDX_notification_campaigns_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_notification_campaigns_company_id" ON public.notification_campaigns USING btree (company_id);


--
-- Name: IDX_notification_campaigns_scheduled_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_notification_campaigns_scheduled_at" ON public.notification_campaigns USING btree (scheduled_at);


--
-- Name: IDX_notification_campaigns_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_notification_campaigns_status" ON public.notification_campaigns USING btree (status);


--
-- Name: IDX_patient_contact_preferences_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_patient_contact_preferences_branch_id" ON public.patient_contact_preferences USING btree (branch_id);


--
-- Name: IDX_patient_contact_preferences_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_patient_contact_preferences_company_id" ON public.patient_contact_preferences USING btree (company_id);


--
-- Name: IDX_patient_contact_preferences_patient_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_patient_contact_preferences_patient_id" ON public.patient_contact_preferences USING btree (patient_id);


--
-- Name: IDX_product_audit_log_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_audit_log_created_at" ON public.product_audit_log USING btree (created_at DESC);


--
-- Name: IDX_product_audit_log_event_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_audit_log_event_type" ON public.product_audit_log USING btree (event_type);


--
-- Name: IDX_product_audit_log_product_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_audit_log_product_branch" ON public.product_audit_log USING btree (product_id, branch_id);


--
-- Name: IDX_product_discount_branch_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_discount_branch_active" ON public.product_discount USING btree (branch_id, is_active);


--
-- Name: IDX_product_discount_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_discount_branch_id" ON public.product_discount USING btree (branch_id);


--
-- Name: IDX_product_discount_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_discount_company_id" ON public.product_discount USING btree (company_id);


--
-- Name: IDX_product_discount_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_discount_is_active" ON public.product_discount USING btree (is_active);


--
-- Name: IDX_product_discount_product_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_discount_product_active" ON public.product_discount USING btree (product_id, is_active);


--
-- Name: IDX_product_discount_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_discount_product_id" ON public.product_discount USING btree (product_id);


--
-- Name: IDX_purchase_order_items_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_order_items_product_id" ON public.purchase_order_items USING btree (product_id);


--
-- Name: IDX_purchase_order_items_purchase_order_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_order_items_purchase_order_id" ON public.purchase_order_items USING btree (purchase_order_id);


--
-- Name: IDX_purchase_orders_client_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_orders_client_id" ON public.purchase_orders USING btree (client_id);


--
-- Name: IDX_purchase_orders_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_orders_company_id" ON public.purchase_orders USING btree (company_id);


--
-- Name: IDX_purchase_orders_laboratory_order_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_orders_laboratory_order_id" ON public.purchase_orders USING btree (laboratory_order_id);


--
-- Name: IDX_purchase_orders_order_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_orders_order_number" ON public.purchase_orders USING btree (order_number);


--
-- Name: IDX_purchase_orders_should_invoice; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_orders_should_invoice" ON public.purchase_orders USING btree (should_invoice);


--
-- Name: IDX_purchase_orders_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_purchase_orders_status" ON public.purchase_orders USING btree (status);


--
-- Name: IDX_reminder_rules_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_reminder_rules_branch_id" ON public.reminder_rules USING btree (branch_id);


--
-- Name: IDX_reminder_rules_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_reminder_rules_company_id" ON public.reminder_rules USING btree (company_id);


--
-- Name: IDX_whatsapp_sessions_branch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_whatsapp_sessions_branch_id" ON public.whatsapp_sessions USING btree (branch_id);


--
-- Name: IDX_whatsapp_sessions_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_whatsapp_sessions_company_id" ON public.whatsapp_sessions USING btree (company_id);


--
-- Name: IDX_whatsapp_sessions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_whatsapp_sessions_status" ON public.whatsapp_sessions USING btree (status);


--
-- Name: IDX_whatsapp_sessions_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_whatsapp_sessions_user_id" ON public.whatsapp_sessions USING btree (user_id);


--
-- Name: UQ_purchase_order_items_purchase_order_id_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_purchase_order_items_purchase_order_id_product_id" ON public.purchase_order_items USING btree (purchase_order_id, product_id);


--
-- Name: idx_inventory_transfers_company; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_transfers_company ON public.inventory_transfers USING btree (company_id);


--
-- Name: idx_inventory_transfers_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_transfers_created_at ON public.inventory_transfers USING btree (created_at);


--
-- Name: idx_inventory_transfers_source_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_transfers_source_branch ON public.inventory_transfers USING btree (source_branch_id);


--
-- Name: idx_inventory_transfers_source_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_transfers_source_product ON public.inventory_transfers USING btree (source_product_id);


--
-- Name: idx_inventory_transfers_target_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_transfers_target_branch ON public.inventory_transfers USING btree (target_branch_id);


--
-- Name: idx_inventory_transfers_target_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_transfers_target_product ON public.inventory_transfers USING btree (target_product_id);


--
-- Name: idx_stock_movements_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stock_movements_branch ON public.stock_movements USING btree (branch_id);


--
-- Name: idx_stock_movements_company; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stock_movements_company ON public.stock_movements USING btree (company_id);


--
-- Name: idx_stock_movements_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stock_movements_created_at ON public.stock_movements USING btree (created_at);


--
-- Name: idx_stock_movements_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stock_movements_product ON public.stock_movements USING btree (product_id);


--
-- Name: idx_stock_movements_reference; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stock_movements_reference ON public.stock_movements USING btree (reference_type, reference_id);


--
-- Name: idx_stock_movements_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stock_movements_type ON public.stock_movements USING btree (movement_type);


--
-- Name: ux_products_branch_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_products_branch_code ON public.products USING btree (branch_id, code);


--
-- Name: categories FK_0011937b9b4cd88d39accdd6edf; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "FK_0011937b9b4cd88d39accdd6edf" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: role_modules FK_037d3081ebb1e33fa2b4204e057; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_modules
    ADD CONSTRAINT "FK_037d3081ebb1e33fa2b4204e057" FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: role_permissions FK_17022daf3f885f7d35423e9971e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_17022daf3f885f7d35423e9971e" FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_permissions FK_178199805b901ccd220ab7740ec; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_178199805b901ccd220ab7740ec" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: clinical_form_configs FK_29cd30f736e15404c03cb9d4b40; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clinical_form_configs
    ADD CONSTRAINT "FK_29cd30f736e15404c03cb9d4b40" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: clinical_form_configs FK_2a4d50a7164d3e7b1f7831ed6f7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clinical_form_configs
    ADD CONSTRAINT "FK_2a4d50a7164d3e7b1f7831ed6f7" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: shifts FK_2c6e91d710e159b564af1a2d01b; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "FK_2c6e91d710e159b564af1a2d01b" FOREIGN KEY (status_id) REFERENCES public.shift_status(id);


--
-- Name: subcategories FK_3cd708752bf25e44862ccf4a61d; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT "FK_3cd708752bf25e44862ccf4a61d" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: products FK_3f105c75bd8de6544588ec76593; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_3f105c75bd8de6544588ec76593" FOREIGN KEY (default_supplier_id) REFERENCES public.suppliers(id);


--
-- Name: roles FK_4bc1204a05dde26383e3955b0a1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "FK_4bc1204a05dde26383e3955b0a1" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: laboratory_orders FK_4bccf5d81c7bd9ca9a8b8ea7193; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "FK_4bccf5d81c7bd9ca9a8b8ea7193" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: laboratory_orders FK_4fce6f548e7f997d20ce5f5274f; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "FK_4fce6f548e7f997d20ce5f5274f" FOREIGN KEY (clinical_history_id) REFERENCES public.clinical_histories(id);


--
-- Name: branches FK_5973f79e64a27c506b07cd84b29; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT "FK_5973f79e64a27c506b07cd84b29" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: users FK_5a58f726a41264c8b3e86d4a1de; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_5a58f726a41264c8b3e86d4a1de" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: subcategories FK_644a62f955dc1ffc058e16ed838; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT "FK_644a62f955dc1ffc058e16ed838" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: clinical_histories FK_6a3fafa99b3f9c1e8aa7d5157a1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clinical_histories
    ADD CONSTRAINT "FK_6a3fafa99b3f9c1e8aa7d5157a1" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: suppliers FK_6a9681499416e80c1ffac4fe86c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT "FK_6a9681499416e80c1ffac4fe86c" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: permissions FK_738f46bb9ac6ea356f1915835d0; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "FK_738f46bb9ac6ea356f1915835d0" FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: users FK_7ae6334059289559722437bcc1c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_7ae6334059289559722437bcc1c" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: laboratory_orders FK_83bea396b44568c907b291c3eb3; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "FK_83bea396b44568c907b291c3eb3" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: patients FK_97d50f26dd5764039a2cbf2c30b; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT "FK_97d50f26dd5764039a2cbf2c30b" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: categories FK_987f987126a3f2e4f9ec03db04e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "FK_987f987126a3f2e4f9ec03db04e" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: products FK_9a5f6868c96e0069e699f33e124; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_9a5f6868c96e0069e699f33e124" FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: laboratory_orders FK_a1206f47307aaebf2354974f9f8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "FK_a1206f47307aaebf2354974f9f8" FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: users FK_a2cecd1a3531c0b041e29ba46e1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_a2cecd1a3531c0b041e29ba46e1" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: companies FK_a3dbf2085cb73fb94ddf2106ad4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT "FK_a3dbf2085cb73fb94ddf2106ad4" FOREIGN KEY (logo_file_id) REFERENCES public.files(id);


--
-- Name: clinical_histories FK_ab8c059582f2e2d67a8af7a8612; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clinical_histories
    ADD CONSTRAINT "FK_ab8c059582f2e2d67a8af7a8612" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: clinical_histories FK_b130332f65c0d02b75e3399b9c8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clinical_histories
    ADD CONSTRAINT "FK_b130332f65c0d02b75e3399b9c8" FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: products FK_b417f1726f6ccafb18730adffb0; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_b417f1726f6ccafb18730adffb0" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: patients FK_c4fc1b1cd80e7c55d359dd78137; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT "FK_c4fc1b1cd80e7c55d359dd78137" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: products FK_c9de3a8edea9269ca774c919b9a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_c9de3a8edea9269ca774c919b9a" FOREIGN KEY (subcategory_id) REFERENCES public.subcategories(id);


--
-- Name: shifts FK_cddc0af590dd113d6e5b6b530c8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "FK_cddc0af590dd113d6e5b6b530c8" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: suppliers FK_ce35fd787e09aecdb311aaff66c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT "FK_ce35fd787e09aecdb311aaff66c" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: client_patients FK_client_patients_client_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.client_patients
    ADD CONSTRAINT "FK_client_patients_client_id" FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE CASCADE;


--
-- Name: client_patients FK_client_patients_patient_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.client_patients
    ADD CONSTRAINT "FK_client_patients_patient_id" FOREIGN KEY (patient_id) REFERENCES public.patients(id) ON DELETE CASCADE;


--
-- Name: clients FK_clients_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT "FK_clients_branch_id" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: clients FK_clients_company_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT "FK_clients_company_id" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: clients FK_clients_patient_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT "FK_clients_patient_id" FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: products FK_d4131ec6fde82732ee2f3a777cd; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_d4131ec6fde82732ee2f3a777cd" FOREIGN KEY (created_by_user_id) REFERENCES public.users(id);


--
-- Name: role_modules FK_d94c957204d1c78e702a97cc1a9; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_modules
    ADD CONSTRAINT "FK_d94c957204d1c78e702a97cc1a9" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: products FK_de720484cb95d8752861e507921; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_de720484cb95d8752861e507921" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: shifts FK_dfcdd9987957c59812b920027e6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "FK_dfcdd9987957c59812b920027e6" FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: shifts FK_e155f8dd2a50f91604c8d946369; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "FK_e155f8dd2a50f91604c8d946369" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: subcategories FK_f7b015bc580ae5179ba5a4f42ec; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT "FK_f7b015bc580ae5179ba5a4f42ec" FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: laboratory_orders FK_fb2a10f94d1ac9600e76b910b0d; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "FK_fb2a10f94d1ac9600e76b910b0d" FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: laboratory_orders FK_laboratory_orders_client_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratory_orders
    ADD CONSTRAINT "FK_laboratory_orders_client_id" FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: product_audit_log FK_product_audit_log_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_audit_log
    ADD CONSTRAINT "FK_product_audit_log_product" FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_discount FK_product_discount_branch; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_discount
    ADD CONSTRAINT "FK_product_discount_branch" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: product_discount FK_product_discount_company; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_discount
    ADD CONSTRAINT "FK_product_discount_company" FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: product_discount FK_product_discount_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_discount
    ADD CONSTRAINT "FK_product_discount_product" FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: purchase_order_items FK_purchase_order_items_purchase_order_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT "FK_purchase_order_items_purchase_order_id" FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id) ON DELETE CASCADE;


--
-- Name: purchase_orders FK_purchase_orders_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT "FK_purchase_orders_branch_id" FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: purchase_orders FK_purchase_orders_client_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT "FK_purchase_orders_client_id" FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: purchase_orders FK_purchase_orders_company_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT "FK_purchase_orders_company_id" FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: purchase_orders FK_purchase_orders_laboratory_order_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT "FK_purchase_orders_laboratory_order_id" FOREIGN KEY (laboratory_order_id) REFERENCES public.laboratory_orders(id);


--
-- Name: inventory_transfers fk_inventory_transfers_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_transfers
    ADD CONSTRAINT fk_inventory_transfers_created_by FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: inventory_transfers fk_inventory_transfers_source_branch; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_transfers
    ADD CONSTRAINT fk_inventory_transfers_source_branch FOREIGN KEY (source_branch_id) REFERENCES public.branches(id) ON DELETE RESTRICT;


--
-- Name: inventory_transfers fk_inventory_transfers_source_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_transfers
    ADD CONSTRAINT fk_inventory_transfers_source_product FOREIGN KEY (source_product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: inventory_transfers fk_inventory_transfers_target_branch; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_transfers
    ADD CONSTRAINT fk_inventory_transfers_target_branch FOREIGN KEY (target_branch_id) REFERENCES public.branches(id) ON DELETE RESTRICT;


--
-- Name: inventory_transfers fk_inventory_transfers_target_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_transfers
    ADD CONSTRAINT fk_inventory_transfers_target_product FOREIGN KEY (target_product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: stock_movements fk_stock_movements_branch; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT fk_stock_movements_branch FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE RESTRICT;


--
-- Name: stock_movements fk_stock_movements_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT fk_stock_movements_created_by FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: stock_movements fk_stock_movements_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT fk_stock_movements_product FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict IiEdsQRbyYuaSo7cFLftXYI8vrPWKnR9HXLgLupF8LPdzg4l7FKJaukYrqX0Keg

