<div class="step-content">
  <h5 class="mb-4">
    <i class="ti ti-settings me-2"></i>
    {{ 'LABORATORY_ORDERS.STEP3_TITLE' | translate }}
  </h5>

  <div class="card">
    <div class="card-header bg-light">
      <h6 class="mb-0">
        <i class="ti ti-ruler me-2"></i
        >{{ 'LABORATORY_ORDERS.STEP3_SUBTITLE' | translate }}
      </h6>
    </div>
    <div class="card-body">
      <div class="row g-3" [formGroup]="formGroup">
        <div class="col-md-3">
          <label class="form-label">{{
            'LABORATORY_ORDERS.LABELS.HORIZONTAL' | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="frameHorizontal"
            placeholder="mm"
          />
        </div>

        <div class="col-md-3">
          <label class="form-label">{{
            'LABORATORY_ORDERS.LABELS.VERTICAL' | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="frameVertical"
            placeholder="mm"
          />
        </div>

        <div class="col-md-3">
          <label class="form-label">{{
            'LABORATORY_ORDERS.LABELS.LARGER_DIAMETER' | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="frameLargerDiameter"
            placeholder="mm"
          />
        </div>

        <div class="col-md-3">
          <label class="form-label">{{
            'LABORATORY_ORDERS.LABELS.BRIDGE' | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="frameBridge"
            placeholder="mm"
          />
        </div>

        <div class="col-12">
          <button
            type="button"
            class="btn btn-outline-primary digital-params-toggle"
            (click)="toggleDigitalParams()"
            [attr.aria-expanded]="digitalParamsExpanded"
            aria-controls="digitalParamsPanel"
          >
            <i class="ti ti-adjustments-alt me-2"></i>
            {{ 'LABORATORY_ORDERS.LABELS.DIGITAL_PARAMETERS' | translate }}
            <i
              class="ti ms-2"
              [class.ti-chevron-down]="!digitalParamsExpanded"
              [class.ti-chevron-up]="digitalParamsExpanded"
            ></i>
          </button>
        </div>

        <div
          id="digitalParamsPanel"
          class="col-12"
          *ngIf="digitalParamsExpanded"
        >
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label">{{
                'LABORATORY_ORDERS.FIELDS.D_VERTEX' | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="dVertex"
              />
            </div>

            <div class="col-md-4">
              <label class="form-label">{{
                'LABORATORY_ORDERS.FIELDS.PANTOS' | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="pantos"
              />
            </div>

            <div class="col-md-4">
              <label class="form-label">{{
                'LABORATORY_ORDERS.FIELDS.PANORA' | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="panora"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                'LABORATORY_ORDERS.FIELDS.DIST_VP' | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="distVp"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                'LABORATORY_ORDERS.FIELDS.ENGRAVING' | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="engraving"
              />
            </div>
          </div>
        </div>

        <div class="col-12">
          <label class="form-label">{{
            'LABORATORY_ORDERS.LABELS.OBSERVATIONS' | translate
          }}</label>
          <textarea
            class="form-control"
            formControlName="observations"
            rows="3"
            [placeholder]="
              'LABORATORY_ORDERS.PLACEHOLDERS.ADDITIONAL_OBSERVATIONS'
                | translate
            "
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
