<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">
    @if (isEditMode) {
      {{ 'ROLES_AND_PERMISSIONS.ROLE.EDIT_ROLE' | translate }}
    } @else {
      {{ 'ROLES_AND_PERMISSIONS.ROLE.NEW_ROLE' | translate }}
    }
  </h5>
  <button type="button" class="btn-close ms-auto" (click)="closeModal()"></button>
</div>
@if (isLoading && isEditMode) {
  <div class="d-flex justify-content-center mt-3 mb-3">
    <div class="spinner-border" role="status"></div>
  </div>
} @else {
  <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="row g-2">
        <div class="mb-3">
          <label class="form-label" for="roleName">
            {{ 'ROLES_AND_PERMISSIONS.ROLE.FORM.ROL_NAME' | translate }}
            <span class="text-danger">*</span>
          </label>
          <input
            formControlName="roleName"
            type="text"
            class="form-control"
            [class.is-invalid]="
              roleForm.get('roleName')?.invalid &&
              roleForm.get('roleName')?.touched
            "
            [class.is-valid]="
              roleForm.get('roleName')?.valid &&
              roleForm.get('roleName')?.touched
            "
            id="roleName"
            placeholder="{{
              'ROLES_AND_PERMISSIONS.ROLE.FORM.ROL_NAME_PLACEHOLDER' | translate
            }}"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="
              roleForm.get('roleName')?.invalid &&
              roleForm.get('roleName')?.touched
            "
          >
            {{
              'ROLES_AND_PERMISSIONS.ROLE.FORM.ROL_NAME_REQUIRED' | translate
            }}
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">
            {{ 'ROLES_AND_PERMISSIONS.ROLE.FORM.DESCRIPTION' | translate }}
            <span class="text-danger">*</span>
          </label>
          <textarea
            formControlName="description"
            class="form-control"
            [class.is-invalid]="
              roleForm.get('description')?.invalid &&
              roleForm.get('description')?.touched
            "
            [class.is-valid]="
              roleForm.get('description')?.valid &&
              roleForm.get('description')?.touched
            "
            id="description"
            rows="3"
            placeholder="{{
              'ROLES_AND_PERMISSIONS.ROLE.FORM.DESCRIPTION_PLACEHOLDER'
                | translate
            }}"
            required
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="
              roleForm.get('description')?.invalid &&
              roleForm.get('description')?.touched
            "
          >
            {{
              'ROLES_AND_PERMISSIONS.ROLE.FORM.DESCRIPTION_REQUIRED' | translate
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        {{ 'WORDS.CANCEL' | translate }}
      </button>
      @if (isLoadingButton) {
        @if (isEditMode) {
          <button class="btn btn-primary" type="button" disabled>
            <span
              class="spinner-border spinner-border-sm me-1"
              role="status"
              aria-hidden="true"
            ></span>
            {{ 'WORDS.UPDATING' | translate }}
          </button>
        } @else {
          <button class="btn btn-primary" type="button" disabled>
            <span
              class="spinner-border spinner-border-sm me-1"
              role="status"
              aria-hidden="true"
            ></span>
            {{ 'WORDS.Creating' | translate }}
          </button>
        }
      } @else {
        @if (isEditMode) {
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="roleForm.invalid"
          >
            {{ 'ROLES_AND_PERMISSIONS.ROLE.BUTTONS.EDIT_ROLE' | translate }}
          </button>
        } @else {
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="roleForm.invalid"
          >
            {{ 'ROLES_AND_PERMISSIONS.ROLE.BUTTONS.CREATE_ROLE' | translate }}
          </button>
        }
      }
    </div>
  </form>
}
